.fgjhd{background-color: #FF5555;color: #FFFFFF;}
.fgjhd img{width: 100%;}
.fgjhtitle{text-align: center;font-size: 1.2rem;line-height: 45px;}
.fgjh-margig-t-20{margin-top: 20px;}
.fgjh-margig-t-5{margin-top: 5px;}
.fgjh-float-title{position: absolute;padding: 5px 10px 5px 10px;bottom: 5px;background: transparent;background-color: rgba(52, 51, 49,0.8);border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;}
.fgjhbtn{height: 55px;width: 192px;border-radius: 30px;border: 0px;background-color: #FFFFFF;color: #ff5555;font-size: 1.5rem;font-weight: 600;}


.kjzxd{margin:20px 16px;}
.kjzxd-item{border-bottom: 1px solid #E0DEDE;margin-bottom: 20px;}
.kjzxd-item:last-child{border:0px;}
.kjzxd-item-title{border-left: 4px solid #FD8026;padding-left: 20px;font-size: 1.5rem;color: #666666;margin-bottom: 15px;}
.kjzxd-item-pdl{color: #000000;line-height: 25px;font-size: 1rem;margin-bottom: 20px;}
.kjzxd-item-pdl span{color:#666666;}





