
<ion-view ng-controller="ProDetailController">
 
    <ion-header-bar class="bar-orange" align-title="center">
        <a back-button class="button icon-left ion-ios-arrow-left button-clear"></a>
        <h1 class="title">
            资产详情
        </h1>
    </ion-header-bar>
    <ion-content has-bouncing="true" overflow-scroll="false" class="scroll scroll-content has-header  ProDetail" style="background-color:#f0f0f0;" ng-class="{'has-footer':Model.Has_btnState}">
        
        <div ng-include="Model.includeView_top">
        </div>
        <div style="background-color:#ffffff;">
            <div ng-include="Model.includeView">
            </div>
        </div>

        <div class="list ufo_list">
            <a class="item" ng-click="agreement(Model.data.ContractId)">
                <div class="item-content item-icon-left item-icon-right">
                    <i class="icon"><img src="img/NewUI/iconfont_hetong@2x.png" /></i>
                    电子合同查询
                    <i class="icon ion-ios-arrow-right "></i>
                </div>
            </a>
        </div> 

    </ion-content>

    <ion-footer-bar class="ufo-bar-footer" align-title="center" style="padding:0px;" ng-if="Model.Has_btnState">
        <button class="button button-fd8026  button-full" ng-click="btn_hrefPage()" ng-disabled="Model.btnDisabled">
            {{Model.btnStateText}}
        </button>

    </ion-footer-bar>
</ion-view>
