<ion-view ng-controller="AmtContentController">
    <ion-header-bar class="bar-orange" align-title="center">
        <a back-button class="button icon-left ion-ios-arrow-left button-clear"></a>
        <h1 class="title">
            合同详情
        </h1>
    </ion-header-bar>
    <ion-content class="has-header content-overflow-scroll" has-bouncing="true" scroll="true" overflow-scroll="true">
        <!--<div class="list list-height-100">-->

        <iframe class="iframeAgree" src="https://www.baidu.com"></iframe>
        <!--</div>-->
    </ion-content>
    <!--<ion-content has-bouncing="true" overflow-scroll="false" class="scroll scroll-content has-header">
        <div style="text-align: center; font-size: 1.5rem; margin-top: 24px; margin-bottom: 18px; color: #656565; "><strong>合格投资者认定</strong></div>
        <div style="margin-left: 20px; margin-right: 20px; color: #656565; ">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;《中华人民共和国证券法》、《中华人民共和国合同法》、《网上证券委托暂行管理办法》证券交易所交易规则和其它相关法律法规、规章制度，
            甲乙双方就甲方在乙方进行网上证券委托事宜达成如下协议：第一条 双方共同遵守国家法律、法规以及证券主管机关制定的有关规定、条例。第二条 网上证券委托是指
            甲方在乙方固定的经营场所之外，利用计算机通过登录互联网，通过使用乙方的交易系统下达证券委托指令买卖上海证券交易所。
        </div>

    </ion-content>-->
</ion-view>
