<div>
 
    <div class="row">
        <div class="col fontSize-1-2 " style="color: red; text-align: center; " ng-bind-html="Confirmation.content">

        </div> 
    </div>

    <div class="row">
        <div class="col" style="position:relative">
            <input class="btn_pwd" type="{{Confirmation.inputType}}" placeholder="{{Confirmation.placeholder}}" ng-model="Confirmation.pwd" /><a class="btn_pwd_clear" ng-click="pwd_Clear()" ng-show="Confirmation.pwd!=''"></a>
        </div>
    </div>
    <div class="row" style="padding:0px;margin:0px;" ng-if="Confirmation.inputType=='password'">
        <div class="col fontSize-1 fontColor-999999 text-right" style="padding:0px;margin:0px;margin-right:16px" ng-click="PopupHrefClose()">
            忘记密码?
        </div>
    </div>
</div>