
<ion-view ng-controller="ProDetailController">
    <ion-header-bar class="bar-header " align-title="center">
        <a href="javascript:void(0);" style="color: #F89327; " back-button class="button icon-left ion-ios-arrow-left button-clear"></a>
        <h1 class="title" style="color:rgba(237, 121, 25, 1); ">
            资产详情
        </h1>
    </ion-header-bar>
 
    <ion-content has-bouncing="true" overflow-scroll="false" class="scroll scroll-content has-header  ProDetail" style="background-color:#f0f0f0;" ng-class="{'has-footer':Model.Has_btnState}">
        
        <div ng-include="Model.includeView_top">
        </div>
        <div style="background-color:#ffffff;">
            <div ng-include="Model.includeView">
            </div>
        </div>
        <div class="row" style="background-color:#ffffff;" ng-click="agreement(Model.data.ContractId)">
            <div class="col re_del_contno">
                <img src="img/NewUI/iconfont_hetong@2x.png" /><span>电子合同查询</span>
            </div>
            <div class="col text-right"><img src="img/NewUI/arow@2x.png" style="width: 8px;" /></div>
        </div>
    </ion-content>

    <ion-footer-bar align-title="center" class="ufo-bar-footer" style="padding:0px;" ng-if="Model.Has_btnState">
        <button class="button button-fd8026  button-full"  ng-click="btn_hrefPage()" ng-disabled="Model.btnDisabled">
            {{Model.btnStateText}}
        </button>
        <!--<a class="button button-fd8026  button-fontsize-1-5" href="#/ApplyCI/{{Model.data.ContractId}}" style="border-radius:0px;line-height:40px;overflow:auto;" ng-if="Model.btnState2">
            申请续投
        </a>-->
    </ion-footer-bar>
</ion-view>
