
<ion-view ng-controller="RefListController">
    <ion-header-bar class="bar-header RefListHeader" align-title="center">
        <a href="javascript:void(0);" style="color: #F89327; " back-button class="button icon-left ion-ios-arrow-left button-clear"></a>
        <div style="width:100%;text-align:center;">
            <button class="button headerButton" ng-class="{'button-orange':btnState[0].bgValue}" style="color:{{btnState[0].colorValue}};  margin-right: 0.5rem; " ng-click="GetFinance('100000000');">理财中</button>
            <button class="button headerButton" ng-class="{'button-orange':btnState[1].bgValue}" style="color:{{btnState[1].colorValue}}; margin-right: 0.5rem; " ng-click="GetFinance('100000001');">退出中</button>
            <button class="button headerButton" ng-class="{'button-orange':btnState[2].bgValue}" style="color:{{btnState[2].colorValue}};" ng-click="GetFinance('100000002');">已退出</button>

        </div>
    </ion-header-bar>

    <ion-content has-bouncing="true" overflow-scroll="false" class="scroll scroll-content refList has-header">

        <ion-refresher pulling-text="下拉刷新..."
                       spinner="bubbles" class="spinner-balanced" spinner-class="spinner-balanced" on-refresh="doRefresh()">
        </ion-refresher>

        <div class="list refList">
            <div ng-repeat="item in viewModel.TradeQueryContractList">
                <div class="item item-input touzitime"> 
                    <div class="row" style="margin-left:0px;padding-left:0px;margin-right:30px;">
                        <div class="col fontSize-1" style="margin-left:0px;padding-left:0px;">
                            起息日:<ufo-dateformat ufo-date="item.ValueDate" ufo-format="date"></ufo-dateformat>
                        </div>
                        <!---年年生利 实际到期字段 quitTime   非年年生利dueDate -->
                        <div class="col text-right fontSize-1"> 
                            <ufo-reflistduedate ufo-prdname="item.ProductName" ufo-date="item.DueDate" ufo-pontractagreement="item.ContractType" ufo-status="btnState[2].bgValue"></ufo-reflistduedate>
                        </div>

                    </div>
                </div>
                <a class="item item-input" href="#/ProDetail/RefList/{{item.ContractId}}">

                    <div style="width: 100%; white-space: normal; margin-right: 10px;">

                        <div class="row" style="margin-left:0px;padding-left:0px; color: #656565; margin:0px;padding:0px;">
                            <div class="col fontSize-1" style=" margin:0px;padding:0px;">
                                {{item.ProductName}} 
                            </div>
                            <div class="col text-right  fontSize-1" style=" margin:0px;padding:0px;" ng-if="item.IsExt && item.ContractType!='100000001'"> 
                                预约退出天数： {{item.ExitDescription}}天
                            </div>
                        </div>
                        <!--<span class="fontSize-0-9" style="color: #989898; ">(实际投资：{{item.contractAmt}}元 contractNo   &nbsp; &nbsp; &nbsp; 意向投资：{{item.intentionalAmt}}元 )</span>-->
                        <div class="fontSize-1" style=" margin-right: 10px; color: #989898;">合同编号：{{item.ContractNo}}</div>
                        <div class="row" style="margin-left:0px;padding-left:0px; color: #989898; margin:0px;padding:0px;">
                            <div class="col fontSize-0-9" style=" margin:0px;padding:0px;">
                                (实际投资：{{item.ContractAmt}}元
                            </div>
                            <div class="col text-right  fontSize-0-9" style=" margin:0px;padding:0px;">
                                意向投资：{{item.IntentionalAmt}}元 )
                            </div>
                        </div>
                    </div>


                    <i style=" margin-right: 20px;" ng-click="show();"><img src="img/arrows.png" style="width: 10px; float: right;" /></i>
                </a>
                <a class="item item-input touzitime" style="background-color: #FFFFFF;" ng-if="item.IsReinvest=='100000001'">
                    <div style="color: #ef473a; width: 100%; text-align:center ">
                        <span> 已申请续投</span>
                    </div>
                </a>
                <a class="item item-input touzitime" style="background-color: #FFFFFF;" ng-if="item.InvestQuitStatus">
                    <div style="color: #ef473a; width: 100%; text-align:center ">
                        <span> 已申请退出</span>
                    </div>
                </a>
            </div>
        </div>
        <ufo-infinite-scroll pulling="noMoreItemsAvailable" ufo-loadmore="loadMore">
        </ufo-infinite-scroll>
    </ion-content>
</ion-view>




 
 