<div class="newRateBlock" style="height:155px">
    <div class="row nothpading" style="padding-top:15px;">
        <div class="col text-center fontSize-2 fontSize-fb4747 nothpading" style="height:3.5rem;line-height:3.5rem">≧<lable style="font-size:3.5rem;">{{viewModel.productInfo.ExpectedRate}}</lable>%</div>
    </div>
 
    <div class="row nothpading fontColor-666666">
        <div class="col text-center">预期年化收益率</div>
    </div>
    <div class="row nothpading " style="margin-top:15px;">
        <div class="col text-center fontColor-666666">起投金额：  <label class="fontSize-1-2  fontColor-333333">{{viewModel.productInfo.MinAmount | currency:''}}元</label></div>
    </div>
</div>
<div class="Investment_tips">
    <div>
        <span>投资有风险，理财需谨慎</span>
    </div>

</div>