 
<ion-view ng-controller="PopupResultController">
    <ion-header-bar class="bar-light " align-title="center">
        <a href="javascript:void(0);" style="color: rgba(237, 121, 25, 1);" back-button class="button icon-left ion-ios-arrow-left button-clear"></a>
        <h1 class="title" style="color: rgba(237, 121, 25, 1);">
            {{viewModel.productName}}
        </h1>
    </ion-header-bar>
    <ion-content has-bouncing="true" overflow-scroll="false" id="PopupResultContent" >
        <!---试算结果-->
        <div ng-include="viewModel.FromView">
        </div>
    </ion-content>
</ion-view>