<div class="FGJH" style="margin-top:5px;">
    <div class="row">
        <div class="col text-left">回款至</div>
        <div class="col text-right">{{Model.data.BankName}}(*{{Model.data.BankCardNo}})</div>
    </div>
    <div class="row">
        <div class="col text-left">实际投资</div>
        <div class="col text-right">{{Model.data.InvestAmt| currency:''}}元</div>
    </div>
    <div class="row">
        <div class="col text-left">初始实际投资</div>
        <div class="col text-right">{{Model.data.InvestAmt| currency:''}}元</div>
    </div>
    <div class="row">
        <div class="col text-left">初始意向投资</div>
        <div class="col text-right fontColor-FF0000">{{Model.data.IntentionAmt| currency:''}}元</div>
    </div>
</div>
<div class="FGJH bbg_sy" style="border-top:1px solid #f0f0f0;margin-left:10px;">
    <div class="row">
        <div class="col text-left">收益明细</div>
        <div class="col text-right  fontColor-FF0000 " style="overflow:auto;">查看详情 <img src="img/NewUI/arow@2x.png" style="width: 8px;margin-left:10px;" /></div>
    </div>
    <div class="row">
        <div class="col text-left">总收益</div>
        <div class="col text-right">{{Model.data.TotalProfit| currency:''}}元</div>
    </div>
</div>















