<ion-view ng-controller="PaymentResultfailureController">

    <ion-header-bar class="bar-light " align-title="center">
        <a href="javascript:void(0);" style="color: #F89327;" back-button class="button icon-left ion-ios-arrow-left button-clear"></a>
        <h1 class="title" style="color: #F89327;  ">
            交易结果
        </h1>
    </ion-header-bar>

    <ion-content has-bouncing="true" overflow-scroll="false" class="scroll scroll-content">
        <div ng-if="viewModel.resultType==1">
            <div class="row">
                <div class="col text-center">
                    <img src="img/ProductInfo/Success.png" style="width:5rem" />
                </div>
            </div>

            <div class="row">
                <div class="col text-center fontSize-1-2" style="color:#656565">
                    由于银行划扣限制，末笔资金划扣<br />成功后的下一个自然日开始计息。
                </div>
            </div>
            <div class="row" style="background-color:rgba(236, 236, 236, 1);padding-top:3px;padding-bottom:3px;margin-bottom:30px;margin-top:20px">
                <div class="col text-center fontSize-red fontSize-1-2">
                    如有任何疑问请联系您的理财经理
                </div>
            </div>
            <div class="row">
                <div class="col text-center  fontSize-1-2 fontColor-666666">
                    可在“我的-交易记录”中查看该笔交易结果，<br />请勿重复提交。
                </div>
            </div>
        </div>
        <div ng-if="viewModel.resultType==2">
            <div class="row">
                <div class="col text-center">
                    <img src="img/ProductInfo/failure.png" style="width:5rem" />
                </div>
            </div>
            <div class="row">
                <div class="col text-center fontSize-1-5" style="color:red;">
                    交易失败
                </div>
            </div>
            <div class="row" style="margin-top:20px;">
                <div class="col text-center fontSize-1-2" style="color:#656565">
                    请核对您银行卡金额或更换银行卡
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="button button-orange button-fontsize-2 " style="margin:0px;" ng-click="OK()">
                    确认
                </button>
            </div>
        </div>
        <div ng-if="viewModel.resultType==1" style="width:100%;text-align:center;color:#656565;margin-bottom:15px;">提示：稍后请到“我的-合同查询”查看理财合同。</div>

    </ion-content>
</ion-view>