<ion-view ng-controller="PaymentResultController">

    <ion-header-bar class="bar-light " align-title="center">
        <a href="javascript:void(0);" style="color: #F89327;" back-button class="button icon-left ion-ios-arrow-left button-clear"></a>
        <h1 class="title" style="color: #F89327;  ">
            交易结果
        </h1>
    </ion-header-bar>

    <ion-content has-bouncing="true" overflow-scroll="false" class="scroll scroll-content">
           
        <div class="row">
            <div class="col">
                <button class="button button-orange button-fontsize-2 " style="margin:0px;" ng-click="OK()" >
                    确认
                </button>
            </div>
        </div>

    </ion-content>
</ion-view>