<style>
    .Banks .item {
        border-width: 0px;
    }

    .cardbg {
        background-image: url('../img/bgcrad.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 25rem;
        height: 7.5rem;
        margin: auto;

        margin-top: 10px;
        margin-bottom: 10px;
    }
 
</style>
<ion-view ng-controller="GetBankCardsController">
    <ion-header-bar class="bar-header " align-title="center">
        <a href="javascript:void(0);" style="color: #F89327; " back-button class="button icon-left ion-ios-arrow-left button-clear"></a>
        <h1 class="title" style="color: #F89327;  ">选择银行卡</h1>
    </ion-header-bar>
    <ion-content has-bouncing="true" overflow-scroll="false" class="scroll scroll-content has-header"> 

        <!--<div class="list Banks">
            <div class="item item-input cardbg" ng-repeat="bank in banks" ng-click="ChoseCard(bank)">
                <i style="margin-right: 20px;  "> <img src="{{bank.bankImgUrl}}" style="width:55px;"></i>
                <div style="width: 100%; height: 57px; ">
                    <span style=" color:white; font-size: 1.5rem;">{{bank.bankName}}</span><br />
                    <span style="color: white; font-size: 0.9rem; ">(信用卡)</span>
                    <div class="row" style=" padding: 0px;">
                        <div class="col" style="color: white; padding: 0px; line-height: 11px; font-size: 1.3rem;max-width:45px;">
                            <span>{{bank.headNo}}</span>
                        </div>
                        <div class="col" style=" padding: 0px;;max-width:45px;">
                            <span style="color: white; font-size: 1.3rem; ">**** </span>
                        </div>
                        <div class="col" style=" padding: 0px;;max-width:45px;">
                            <span style="color: white; font-size: 1.3rem; ">**** </span>
                        </div>
                        <div class="col" style="color: white; padding: 0px; line-height: 11px; font-size: 1.3rem;max-width:45px;">
                            <span>{{bank.tailNo}}</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>-->
        <div class="list MyBankCards" id="divMybankCardsList" >
            <div class="item item-input" ng-repeat="bank in banks" ng-click="ChoseCard(bank)" style="padding-bottom:0px;margin-bottom:0px;margin-top:0px;">
                <i style="margin-right: 12px;  ">  <img src={{bank.BankImgUrl}} style="width:36px;" /></i>
                <div style="width: 100%; height: 60px; border-bottom: 1px solid #f1efef;padding-top:6px; ">
                    <span style="  font-size: 1.2rem;">{{bank.BankName}}</span><span style="color: #989898; font-size: 1rem; ">(尾号{{bank.TailNo}})</span><br />
                    <span style="color: #989898; font-size: 0.9rem; ">
                        {{bank.TxtDealLimit}}
                        <label ng-if="bank.DayLimit!='-1'" style="color: #989898; font-size: 0.9rem;">{{ bank.TxtDayLimit}}</label>
                    </span>
                </div>
                <i style="padding-right: 20px; height: 60px; border-bottom: 1px solid #f1efef;padding-top:9px;" ng-if="viewModel.bankRecordId==bank.BankCardId">
                    <ufo-radio has-checked="viewModel.chose" ufo-style="width: 20px; margin-top: 9px;"></ufo-radio>
                </i>
            </div>
        </div>
        <div class="padding" style="text-align:center;" >
            <img src="img/addbank.png" style="width:60px;" ng-click="AddBankCardsFun()" /> 
        </div>

</ion-content>



</ion-view>
