<div class="row listrow text-center">
    <div class="col tab_right_line">产品期数</div>
    <div class="col tab_right_line">预期年化收益率</div>
    <div class="col">预期本息收益(元)</div>
</div>
<div class="row listrow  text-center" ng-repeat="data in Model.list" ng-class="{'currentRow':(data.IsInTerms==1||data.IsInTerms==2)}">
    <div class="col"><span>{{data.TermNo}}<label class="current_text" ng-if="data.IsInTerms==2">本期</label></span></div>
    <div class="col">{{data.Rate}}%</div>

    <div class="col" ng-if="data.TermNo==1">
        --
    </div>
    <div class="col" ng-if="data.TermNo!=1">
        {{data.Amount| currency:''}}
    </div>
</div>