
<ion-view ng-controller="FundListController">
    <ion-content has-bouncing="true" overflow-scroll="false" class="scroll scroll-content  ValueAddedPlan" style="background-color:#f3f0f0">
        <div class="plate">
            <div class="row" style="width:94%;">
                <div class="col col-60 plateSize" style="width:60%;">
                    30天财富增值计划-01期
                </div>
                <div class="col col-40 plateSize text-right" style="width:40%;">
                    <label class="text-color-red">1000</label>募集额度(万)
                </div>
            </div>
            <div class="row">
                <div class="col text-left colspacing-bottom" style="padding-left:25px;max-width:30%;min-width:30%; line-height:42px;color:#8b8a8a;">
                    10
                </div>
                <div class="col col-40 text-center colspacing-bottom" style=" font-size:1.3rem;">
                    7<label style="font-size:1rem;">.02%</label>-20<label style="font-size:1rem;">.02%</label>
                </div>
                <div class="col text-right colspacing-bottom" style="padding-right:25px;max-width:30%;min-width:30%; line-height:42px;color:#8b8a8a;">
                    30
                </div>
            </div>
            <div class="row">
                <div class="col text-left colspacing-top" style="padding-left:25px;">
                    起投金额(万)
                </div>
                <div class="col text-center colspacing-top">
                    预计年化
                </div>
                <div class="col text-right colspacing-top" style="padding-right:25px;">
                    理财期末(天)
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="button button-red button-small" style="margin:0px;" ng-click="subscribe()">
                        预 约
                    </button>
                </div>
            </div>
        </div>
        <div class="plate">
            <div class="row" style="width:94%;">
                <div class="col col-60 plateSize">
                    30天财富增值计划-01期
                </div>
                <div class="col col-40 plateSize text-right">
                    <label class="text-color-red">1000</label>募集额度(万)
                </div>
            </div>
            <div class="row">
                <div class="col text-left colspacing-bottom" style="padding-left:25px;max-width:30%;min-width:30%; line-height:42px;color:#8b8a8a;">
                    10
                </div>
                <div class="col col-40 text-center colspacing-bottom" style=" font-size:1.3rem;">
                    7<label style="font-size:1rem;">.02%</label>-20<label style="font-size:1rem;">.02%</label>
                </div>
                <div class="col text-right colspacing-bottom" style="padding-right:25px;max-width:30%;min-width:30%; line-height:42px;color:#8b8a8a;">
                    30
                </div>
            </div>
            <div class="row">
                <div class="col text-left colspacing-top" style="padding-left:25px;">
                    起投金额(万)
                </div>
                <div class="col text-center colspacing-top">
                    预计年化
                </div>
                <div class="col text-right colspacing-top" style="padding-right:25px;">
                    理财期末(天)
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="button button-red button-small" style="margin:0px;" ng-click="subscribe()">
                        预 约
                    </button>
                </div>
            </div>
        </div>
        <div class="plate">
            <div class="row" style="width:94%;">
                <div class="col col-60 plateSize">
                    30天财富增值计划-01期
                </div>
                <div class="col col-40 plateSize text-right">
                    <label class="text-color-red">1000</label>募集额度(万)
                </div>
            </div>
            <div class="row">
                <div class="col text-left colspacing-bottom" style="padding-left:25px;max-width:30%;min-width:30%; line-height:42px;color:#8b8a8a;">
                    10
                </div>
                <div class="col col-40 text-center colspacing-bottom" style=" font-size:1.3rem;">
                    7<label style="font-size:1rem;">.02%</label>-20<label style="font-size:1rem;">.02%</label>
                </div>
                <div class="col text-right colspacing-bottom" style="padding-right:25px;max-width:30%;min-width:30%; line-height:42px;color:#8b8a8a;">
                    30
                </div>
            </div>
            <div class="row">
                <div class="col text-left colspacing-top" style="padding-left:25px;">
                    起投金额(万)
                </div>
                <div class="col text-center colspacing-top">
                    预计年化
                </div>
                <div class="col text-right colspacing-top" style="padding-right:25px;">
                    理财期末(天)
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="button button-red button-small" style="margin:0px;" ng-click="subscribe()">
                        预 约
                    </button>
                </div>
            </div>
        </div>
        <div class="plate">
            <div class="row" style="width:94%;">
                <div class="col col-60 plateSize">
                    30天财富增值计划-01期
                </div>
                <div class="col col-40 plateSize text-right">
                    <label class="text-color-red">1000</label>募集额度(万)
                </div>
            </div>
            <div class="row">
                <div class="col text-left colspacing-bottom" style="padding-left:25px;max-width:30%;min-width:30%; line-height:42px;color:#8b8a8a;">
                    10
                </div>
                <div class="col col-40 text-center colspacing-bottom" style=" font-size:1.3rem;">
                    7<label style="font-size:1rem;">.02%</label>-20<label style="font-size:1rem;">.02%</label>
                </div>
                <div class="col text-right colspacing-bottom" style="padding-right:25px;max-width:30%;min-width:30%; line-height:42px;color:#8b8a8a;">
                    30
                </div>
            </div>
            <div class="row">
                <div class="col text-left colspacing-top" style="padding-left:25px;">
                    起投金额(万)
                </div>
                <div class="col text-center colspacing-top">
                    预计年化
                </div>
                <div class="col text-right colspacing-top" style="padding-right:25px;">
                    理财期末(天)
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="button button-red button-small" style="margin:0px;" ng-click="subscribe()">
                        预 约
                    </button>
                </div>
            </div>
        </div>
        <div class="plate">
            <div class="row" style="width:94%;">
                <div class="col col-60 plateSize">
                    30天财富增值计划-01期
                </div>
                <div class="col col-40 plateSize text-right">
                    <label class="text-color-red">1000</label>募集额度(万)
                </div>
            </div>
            <div class="row">
                <div class="col text-left colspacing-bottom" style="padding-left:25px;max-width:30%;min-width:30%; line-height:42px;color:#8b8a8a;">
                    10
                </div>
                <div class="col col-40 text-center colspacing-bottom" style=" font-size:1.3rem;">
                    7<label style="font-size:1rem;">.02%</label>-20<label style="font-size:1rem;">.02%</label>
                </div>
                <div class="col text-right colspacing-bottom" style="padding-right:25px;max-width:30%;min-width:30%; line-height:42px;color:#8b8a8a;">
                    30
                </div>
            </div>
            <div class="row">
                <div class="col text-left colspacing-top" style="padding-left:25px;">
                    起投金额(万)
                </div>
                <div class="col text-center colspacing-top">
                    预计年化
                </div>
                <div class="col text-right colspacing-top" style="padding-right:25px;">
                    理财期末(天)
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="button button-red button-small" style="margin:0px;" ng-click="subscribe()">
                        预 约
                    </button>
                </div>
            </div>
        </div>
    </ion-content>

</ion-view>