<div>
     <div class="row">
         <div class="col">
             <img src="img/cancel.png" style="float: right; width: 19px;" ng-click="PopupClose();" />
         </div>
     </div>
    <!--<div class="row">
        <div class="col fontSize-1-2" style="color: red; text-align: center; ">
            
            {{model.content}}
        </div> 
    </div>-->

    <div class="row">
        <div class="col-30" style="margin-top: 10px;">
            <span style="float: right;">邀请码：</span>
        </div>
        <div class="col">
            <input type="text" style="border-bottom: 1px solid #D3D3D3;padding-left:7px; " placeholder="请输入邀请码" ng-model="model.code" />
        </div>
    </div>
      
</div>