

<ion-view ng-controller="PaymentResultSuccessController">
 
    <ion-header-bar class="bar-orange" align-title="center">
        <a href="javascript:void(0);" back-button class="button icon-left ion-ios-arrow-left button-clear"></a>
        <h1 class="title">
            交易结果
        </h1>
    </ion-header-bar>
    <ion-content has-bouncing="true" overflow-scroll="false" class="scroll scroll-content " style="background-color:#f0f0f0">
        <div ng-if="viewModel.resultType==1">
            <div class="ufo_paymentResult_single_top">
                <div class="fontSize-1-2">
                    {{viewModel.txMap.ProductName}}
                </div>
                <div class="fontSize-0-8" ng-if="viewModel.txMap.ContractType!='100000001'">
                    预约退出时间：{{viewModel.txMap.Period}}天
                </div>
                <div class="fontSize-0-8" ng-if="viewModel.txMap.ContractType=='100000001'">
                    随时申请退出
                </div>
                <div class="fontSize-2-5 text-center amount">
                    {{viewModel.txMap.TxAmt | currency:''}}
                </div>
                <div class="fontSize-1 text-center">
                    投资本金（元）
                </div>
            </div>
            <div class="list ufo_list">
                <div class="item">
                    交易状态
                    <span class="item-note fontColor-fb4747">
                        交易成功
                    </span>
                </div>
                <div class="item item-content ProDetail ">
                    <div class="dateline">
                        <div class="row">
                            <div class="col text-center reimgsize ufo_iconleft" style="margin-left: 12px;">
                                <div class="datepanle text-center">
                                    <div class="fontSize-1">投资日期</div>
                                    <div class="fontSize-1">{{viewModel.txMap.txDate}}</div>
                                </div>
                                <img src="img/NewUI/touziriqi@2x.png" />
                            </div>
                            <div class="col ufo_iconleft_line"></div>
                            <div class="col text-center reimgsize ufo_iconmiddle">
                                <div class="datepanle text-center">
                                    <div class="fontSize-1">开始计息</div>
                                    <div class="fontSize-1">{{viewModel.txMap.ValueDate}}</div>
                                </div>
                                <img src="img/NewUI/jixi@2x.png" />
                            </div>

                            <div class="col text-center fontSize-0-8 ufo_iconright_line">
                            </div>
                            <div class="col text-center reimgsize  ufo_iconright" style="margin-right: 15px;">
                                <div class="datepanle text-center" ng-if="Model.data.ContractType != '100000001'">
                                    <div class="fontSize-1">退出日期</div>
                                    <div class="fontSize-1">{{viewModel.txMap.DueDate}}</div>
                                </div>
                                <div class="datepanle text-center" ng-if="Model.data.ContractType == '100000001'">
                                    <div class="fontSize-1">随时申请退出</div>
                                </div>
                                <img src="img/NewUI/tuichu@2x.png" />
                            </div>
                        </div>
                    </div>
                    <div class="fontColor-666666" style="white-space: initial;">
                        {{viewModel.txMap.IvcDesc}}
                    </div>

                </div>
            </div>
            <div class="list ufo_list" ng-if="viewModel.txMap.InviteCode!=''">

                <div class="item item-content-row item-content-row-icon-left  item-icon-left fontColor-000000" style="padding-left:40px;">
                    <i class="icon">
                        <img src="img/NewUI/PayOrder/yaoqingma2.png" />
                    </i>
                    邀请码：{{viewModel.txMap.InviteCode}}
                </div>
                <div class="item item-content-row fontColor-666666" style="padding-left:0px;">
                    感谢您在购买理财产品时填写邀请码，购买成功后，您将会获得定制茶饮礼盒一个，请注意查收。
                </div>

            </div>
        </div>
        <div ng-if="viewModel.resultType==2">
            <div class="row" style="margin-top:30px;">
                <div class="col text-center">
                    <img src="img/orthericon/Waiting.gif" />
                </div>
            </div>

            <div class="row" style="margin-top:20px;">
                <div class="col text-center fontSize-1-2" style="color:#656565">
                    {{viewModel.waitText}}
                </div>

            </div>
            <div ng-if="viewModel.isShowButton">
                <div style="width:100%;text-align:center;color:#656565;">稍后请在“我的-交易记录”中查询交易状态</div>
                <!--<div class="row">
                    <div class="col">
                        <button class="button button-orange button-fontsize-2 " style="margin:0px;" ng-click="OK()">
                            确认
                        </button>
                    </div>
                </div>-->

            </div>
        </div>

        <div ng-if="viewModel.resultType==3">
            <div class="ufo_paymentResult_top">
                <div><img src="img/NewUI/PayOrder/duihao@2x.png" /></div>
                <div>交易成功！</div>
            </div>
            <div class="list ufo_list">

                <div class="item item-content-row item-content-row-icon-left  item-icon-left fontColor-666666">
                    <i class="icon"><img src="img/NewUI/PayOrder/biaoti@2x.png" style="width:12px;" /></i>
                    由于银行划扣限制，末笔资金划扣成功后的下一个自然日开始计息。
                </div>
                <div class="item item-content-row item-content-row-icon-left  item-icon-left fontColor-666666">
                    <i class="icon"><img src="img/NewUI/PayOrder/biaoti@2x.png" style="width:12px;" /></i>
                    可在"我的-交易记录"中查看该笔交易结果,请勿重复提交。
                </div>
                <div class="item item-content-row item-content-row-icon-left  item-icon-left fontColor-666666">
                    <i class="icon"><img src="img/NewUI/PayOrder/biaoti@2x.png" style="width:12px;" /></i>
                    如有任何疑问请联系您的理财经理。
                </div>
            </div>
            <div class="list ufo_list">

                <div class="item item-content-row item-content-row-icon-left  item-icon-left fontColor-000000" style="padding-left:40px;">
                    <i class="icon">
                        <img src="img/NewUI/PayOrder/yaoqingma2.png" />
                    </i>
                    邀请码：{{viewModel.txMap.InviteCode}}
                </div>
                <div class="item item-content-row fontColor-666666" style="padding-left:0px;">
                    {{viewModel.txMap.IvcDesc}}
                </div>

            </div>
        </div> 
        <div ng-if="viewModel.resultType==0">
            <div class="ufo_paymentResult_top">
                <div><img src="img/NewUI/PayOrder/shibai@2x.png" /></div>
                <div>交易失败！</div>
            </div>
            <div class="list ufo_list">

                <div class="item item-content-row  item-content-row-icon-left  item-icon-left fontColor-666666">
                    <i class="icon"><img src="img/NewUI/PayOrder/biaoti@2x.png" style="width:12px;" /></i>
                   {{viewModel.waitText}}
                </div>
            </div>

        </div>
        <!--<div class="list ufo_list" ng-if="viewModel.txMap.InviteCode!=''">

            <div class="item item-content-row item-content-row-icon-left  item-icon-left fontColor-000000" style="padding-left:40px;">
                <i class="icon">
                    <img src="img/NewUI/PayOrder/yaoqingma2.png" />
                </i>
                邀请码：{{viewModel.txMap.InviteCode}}
            </div>
            <div class="item item-content-row fontColor-666666" style="padding-left:0px;">
                感谢您在购买理财产品时填写邀请码，购买成功后，您将会获得定制茶饮礼盒一个，请注意查收。
            </div>

        </div>-->
    </ion-content>
    <ion-footer-bar class="ufo-bar-footer" align-title="center" style="padding:0px;">
        <button class="button button-fd8026  button-full" ng-click="OK()">
            确定
        </button>
    </ion-footer-bar>
</ion-view>