<div class="row">
    <div class="col text-center fontSize-orange fontSize-1" style="padding-bottom:0px;">
        <img src="img/orthericon/DateTime.png" class="dateIocn" />
        <lable>投资日期</lable>
        <input type="text" ng-model="viewModel.InvestmentDate" class="dateInput" mo-date="date" mo-dateparameter="moDateparameter" />
    </div>

</div>
<div class="row" style="color:#666666;padding-bottom:5px;padding-top:15px;">
    <div class="col text-center  fontSize-1">
        <div>起息日期 </div>
        <div ng-bind="viewModel.VoteDate">

        </div>
    </div>
</div>