
<ion-view ng-controller="ContractConfirmationController">
    <ion-content class="has-header has-subheader has-footer has-subfooter content-overflow-scroll" has-bouncing="true" scroll="true" overflow-scroll="true" style="bottom:134px;">
        <!--<div class="list list-height-100">-->

            <iframe class="iframeAgree" src="https://www.baidu.com"></iframe>
        <!--</div>-->
    </ion-content>

    <ion-footer-bar class="bar-subfooter" style="height:90px;" align-title="center">
        <div class="row">
            <div class="col text-center">
                <i class=" icon ion-android-checkmark-circle" style="color:rgba(237, 121, 25, 1);font-size:1.7rem;"> </i>  我已阅读并同意《用户注册协议》
            </div>
        </div>
        <div class="row">
            <div class="col col-spacing-0">
                <button class="button button-orange button-fontsize-2" style="margin:0px;">
                    确认
                </button>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>

<!--<div class="tabs tabs-icon-top">
    <a class="tab-item" back-button style="color:#ff6a00">
        <i class="icon ion-ios-undo"></i>
        返回
    </a>
</div>-->
