<div style="margin-bottom:1px;background-color:#ffffff;">
    <div class="row">
        <div class="row fontSize-1-2 fontColor-333333">
            {{ Model.data.ProductName}}
        </div>
    </div>
    <div class="row">
        <div class="col re_del_contno">
            <img src="img/NewUI/hetong@2x.png" />
            <span>合同编号：{{ Model.data.ContractNo}}</span>
        </div>
    </div>

    <div class="row" ng-if="Model.data.InviteCode!=null">
        <div class="col re_del_contno">
            <img src="img/newVersion/yaoqingma@2x.png" style="width:20px;" />
            <span>邀请码：{{ Model.data.InviteCode}}</span>
        </div>
    </div>
    <div ng-if="Model.data.QuitStatus != '100000002'">
        <div class="row">
            <div class="col text-center fontSize-2-5 fontColor-fb4747">
                {{Model.data.TermProfit | currency:''}}
            </div>
        </div>
        <div class="row">
            <div class="col text-center fontSize-1-5 fontColor-333333 padding-top">
                预期收益(元)
            </div>
        </div>
        <div class="row">
            <div class="col re_del_list text-center col_right_line">
                <div class="fontColor-fb4747 fontSize-1-2">{{Model.data.TermProfitRate}} %</div>
                <div class="">当期预期年化</div>
            </div>
            <div class="col re_del_list text-center">
                <div class="fontColor-fb4747 fontSize-1-2">{{Model.data.TermContractAmt| currency:''}}</div>
                <div class="">当期投资本金(元)</div>
            </div>
        </div>
    </div>
</div>
<!--<hr style="margin:20px 0px;border:none;border-top:1px solid #f0f0f0;" />-->
<div class="dateline" ng-if="Model.data.QuitStatus != '100000002'">
    <div class="row ufo_rowPadding">

        <div class="col text-center reimgsize ufo_iconleft">
            <div class="datepanle text-center">
                <div class="fontSize-1">当期起息日</div>
                <div class="fontSize-1">{{Model.data.TermStartDate}}</div>
            </div>
            <img src="img/NewUI/jixi@2x.png" />
        </div>

        <div class="col text-center fontSize-0-8 ufo_iconright_line">
        </div>
        <div class="col text-center reimgsize ufo_iconright">
            <div class="datepanle text-center">
                <div class="fontSize-1">当期结束日</div>
                <div class="fontSize-1">{{Model.data.TermEndDate}}</div>
            </div>
            <img src="img/NewUI/tuichu@2x.png" />
        </div>
    </div>
</div>