

<ion-view ng-controller="180YYFXResultController">
    <ion-header-bar class="bar-header " align-title="center">
        <a href="javascript:void(0);" style="color: #F89327; " back-button class="button icon-left ion-ios-arrow-left button-clear"></a>
        <h1 class="title" style="color: rgba(237, 121, 25, 1); ">
            180天月月付息
        </h1>
    </ion-header-bar>

    <ion-content has-bouncing="true" overflow-scroll="false" class="scroll scroll-content has-header ProDetail">
        <div class="row fontSize-1-2" style="color: #656565;padding-left: 10px;">
            {{ Model.data.productName}} <!--180天固定期限增值计划-01期-->
        </div>
        <div class="col text-center title" >
            <strong> 1200.00</strong>
        </div>
        <div class="col   text-center title_2" >
            <strong> 总派息金额（元）</strong>
        </div>

        <div class="row  qixi">
            <div class="col text-center" >
                <p>起息日期</p>
                <p>2016-07-15</p>
            </div>
            <div>
                <p class="colType">&nbsp;</p>
            </div>
            <div class="col text-center">
                <p>到息日期</p>
                <p>2016-07-15</p>
            </div>
        </div>
         
        <div class="Earnings paixi">
            <div class="row"  >
                <div class="col  text-left" >
                    派息日期
                </div>
                <div class="col text-right"  >
                   派息金额（元）
                </div>
            </div>
        </div>
        
        <div class="Earnings" style="margin-bottom:8rem;">
             <div class="row">
                <div class="col text-left">
                    2016-07-15
                </div>
                 <div class="col text-right color">
                     200.00
                 </div>
            </div>

            <div class="row">
                <div class="col text-left">
                    2016-07-15
                </div>
                <div class="col text-right color">
                    200.00
                </div>
            </div>

            <div class="row">
                <div class="col text-left">
                    2016-07-15
                </div>
                <div class="col text-right color">
                    200.00
                </div>
            </div>


            <div class="row">
                <div class="col text-left">
                    2016-07-15
                </div>
                <div class="col text-right color">
                    200.00
                </div>
            </div>

            <div class="row">
                <div class="col text-left">
                    2016-07-15
                </div>
                <div class="col text-right color">
                    200.00
                </div>
            </div>

            <div class="row">
                <div class="col text-center">
                    本试算器不考虑节假日延期，试算结果仅供参考
                </div>
            </div>
        </div>
         
    </ion-content>
</ion-view>
