<div class="divTrialResult" style="padding-top:25px;">
    <div class="row text-center light fontSize-1-5 " style="margin-bottom:3px;">
        <div class="col-50">
            {{viewModel.result.Dividend | currency: ""}}
        </div>
        <div class="col-50">
            {{viewModel.result.DividendVIP | currency: ""}}
        </div>
    </div>
    <div class="row text-center light fontSize-1-2">
        <div class="col-50">
            优享
        </div>
        <div class="col-50">
            VIP
        </div>
    </div>
</div>