<div calss="row">
    <div class="col text-center fontSize-orange fontSize-1" style="padding-bottom:0px;">
        <lable >投资日期</lable>
        <img src="img/orthericon/DateTime.png" style="width: 1.5rem;vertical-align: middle; margin-left: 3px;margin-bottom: 5px;background-color:#fff!important;" />
    </div>
</div>
<div class="row  " style=" margin:0px; padding-top:0px;padding-bottom:0px;">
    <div class="col  fontSize-orange fontSize-1 text-center">
        <input type="text" ng-model="viewModel.VoteDate" style="display:initial;border-bottom:1px solid #808080;text-align:center;width:8rem;" mo-date="date" />
    </div>
</div>
 