<ion-view ng-controller="MyBankCardsController">
    <ion-header-bar class="bar-orange" align-title="center">
        <a back-button class="button icon-left ion-ios-arrow-left button-clear"></a>
        <h1 class="title">
            我的银行卡
        </h1>
        <i ng-click="AddBankCardsFun();" class="button button-icon icon ion-ios-plus-empty fontSize-white"></i>
    </ion-header-bar>
    <ion-content has-bouncing="true" overflow-scroll="false" class="scroll scroll-content has-header" style="background-color:#f0f0f0;">
        <div class="text-center" ng-if="banks.length<=0">
            <div style="padding-top:120px;padding-bottom:10px;">
                <img src="img/NewUI/Account/yinhangka@2x.png" style="width:130px;"/>
            </div>
            <div class="fontColor-333333 fontSize-1-5" >
                没有绑定的银行卡
            </div>
            <div class="fontColor-666666" style="margin-top:10px;">
                点击右上角"添加按钮"添加吧
            </div>
        </div>
        <div class="list ufo_car_list" ng-if="banks.length>=0">
            <a class="item item-icon-right item-avatar  " ng-repeat="bank in banks" ng-click="goDetail(bank)" ng-class="{'Has_been_sold_out':!bank.IsEnable}">
                <img src="{{bank.BankImgUrl}} ">
                <span class="fontColor-333333 fontSize-1-2">{{bank.BankName}} <label class="fontColor-666666 fontSize-1" style="margin-left:10px;">(尾号{{bank.TailNo}})</label></span>
                <p>
                    <span class="fontSize-1">
                        {{bank.TxtDealLimit}} <label ng-if="bank.DayLimit!='-1'" style="margin-left:10px;">{{ bank.TxtDayLimit}}</label>
                    </span>
                </p>
                <div class="shuli" ng-if="!bank.IsEnable">暂不支持</div>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
